<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Neva - chat</title>

		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

		<!-- DataTable library   -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
	  <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" type='text/css'>
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

		<script type="text/javascript">

    function getChat(){
			if ( $.fn.DataTable.isDataTable('#chatTable') ) {
				$('#chatTable').DataTable().destroy();
			}
			var settings = {
        "async": true,
        "url": "getchat",
        "method": "POST",
        "processData": false
      }
      $.ajax(settings).done(function (response) {
        var dataSet = JSON.parse(response);
          $('#chatTable').DataTable( {
              data: dataSet,
              columns: [
                  { title: "From" },
                  { title: "To" },
									{ title: "Message" },
									{ title: "Time" }
              ]
          });
      });
    }

    function sayHi(){
        var settings = {
          "async": true,
          "url": "sayhi",
          "method": "POST",
        }
        $.ajax(settings).done(function (response) {
            alert(response);
						getChat();
          });
      }

		$(document).ready(function() {
        getChat();
		    });

	</script>

<style>
	td, th{
		text-align:center;
	}

</style>

</head>

<body>
	<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Neva - chat home</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<a href="logout" style="text-decoration:none;">&nbsp&nbsp&nbsp&nbsp<button class="btn btn-danger navbar-btn">Logout</button></a>
		</ul>
		</div>
	</div>
</nav>
<h4 style="text-align:center">Welcome, <b>{{user.upper()}}</b><h4><hr>
	<div class="wrapper" style="margin-left:10%;margin-right:10%">
	    <div class="main-panel">
	        <div class="content">
	            <div class="container-fluid" style="text-align:center">
								<button type="button" class="btn btn-danger" onclick="sayHi();">Say hi</button>
								<button type="button" class="btn btn-info" onclick="getChat();">Refresh chat</button>
															<div class="header">
																	<h4 class="title"><hr>Chat log till now</h4><br>
															</div>
															<div class="content table-responsive table-full-width">
																	<table class="table table-striped table-bordered" id="chatTable" cellspacing="0" width="100%"></table>
															</div>
	        </div>

	    </div>
	</div>
</body>
</html>
