<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>Neva - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function login(){
        var uname = document.getElementById('uname').value;
        var pwd = document.getElementById('pwd').value;
        var form = new FormData();
        form.append("uname", uname);
        form.append("pwd", pwd);

        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "login",
          "method": "POST",
          "processData": false,
          "contentType": false,
          "mimeType": "multipart/form-data",
          "data": form
        }

        $.ajax(settings).done(function (response) {

        });
      }
    </script>
</head>
<body>

  <div class="row"  style="margin-top:10%;text-align:center">
    <div class="container col-md-6 col-md-offset-3">
        <h2>Login<hr></h2>
        <form action="login" method="post">
        <p style="color: {{color}}"> {{message}} </p>
        <div class="form-group col-md-12">
            <input type="text" name="uname" class="form-control" id="uname" placeholder="User name" required>
          </div>
        <div class="form-group col-md-12">
          <input type="password" name="pwd" class="form-control" id="pwd" placeholder="Password" required>
        </div>
          <button id="login" type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
    </div>
</body>
</html>
